$color-primary: #55c57a;
$color-primary-light:lighten(#55c57a, 30%);
$color-primary-dark: darken(#55c57a, 30%);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #333;

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 18px;
    line-height: 30px;
    color: $color-grey-dark;
}


h1, h2, h3, h4, h5, h6 {
    color:  $color-grey-dark;
}

h1 {
    font-size: 96px;
}

@media screen and (min-width: 768px) {

}

@media screen  and (min-width: 992px) {
  
}

@media screen and (min-width: 1280px) {

}

@import "../node_modules/tachyons-sass/tachyons.scss";