$color-primary: #55c57a;
$color-primary-light:lighten(#55c57a, 30%);
$color-primary-dark: darken(#55c57a, 30%);

$grey: #3b3b3b;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #333;

* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    // Poppins - google fonts
    // font-family:  'Poppins', sans-serif !important;

    // Roslindale
    // https://djr.com/roslindale/
    // font-family: 'Roslindale Variable Display', Georgia, serif;

    // Jost
    // https://indestructibletype.com/Jost
    // font-family:  'Jost', sans-serif !important;

    font-family:  'Agrandir', sans-serif !important;

    font-size: 18px;
    line-height: 30px !important;
    word-spacing: 3px;
    box-sizing: border-box;
    background-color: white;
    color: $grey;
}

@media screen and (min-width: 768px) {

}

@media screen  and (min-width: 992px) {
  
}

@media screen and (min-width: 1280px) {

}

@import "../node_modules/tachyons-sass/tachyons.scss";