$color-primary: #55c57a;
$color-primary-light:lighten(#55c57a, 30%);
$color-primary-dark: darken(#55c57a, 30%);

$grey: #3b3b3b;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #333;

* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    // Poppins - google fonts
    // font-family:  'Poppins', sans-serif !important;

    // Roslindale
    // https://djr.com/roslindale/
    // font-family: 'Roslindale Variable Display', Georgia, serif;

    // Jost
    // https://indestructibletype.com/Jost
    //font-family:  'Jost', sans-serif !important;

    // Agrandir
    // https://v-fonts.com/fonts/agrandir-variable
    // A nice quirky sans-serif variable font
    // font-family:  'Agrandir', sans-serif !important;

    // Avenir Next Font
    // https://www.dafontfree.io/avenir-next-font/
    // font-family:  'Avenir Next', sans-serif !important;

    // Euclid Flex
    // nice swiss typeface
    // https://www.swisstypefaces.com/fonts/euclid/
    // font-family:  'Euclid Flex', sans-serif !important;

    // Type together - Portada and Protipo
    // A nice foundry for fonts
    // https://www.type-together.com/font-catalogue
    // font-family:  'Portada', serif !important;

    // Type together - Portada and Protipo
    // A nice foundry for fonts
    // https://www.type-together.com/protipo-font
    font-family:  'Protipo', sans-serif !important;

    font-size: 18px;
    line-height: 30px !important;
    word-spacing: 3px;
    box-sizing: border-box;
    background-color: white;
    color: $grey;
}


h1 {
    font-weight: lighter;
//    font-size: 3rem;
    font-size: 96px !important;
    margin-bottom: 3rem;
}

h2 {
    font-weight: normal;
//    font-size: 2.25rem;
    font-size: 60px !important;
    margin-bottom: 2rem;
}

h3 {
    font-weight: bolder;
//    font-size: 1.5rem;
    font-size: 48px !important;
    margin-bottom: 1.5rem;
}

h4 {
    font-weight: normal;
//    font-size: 1.40rem;
    font-size: 34px;
    margin-bottom: 1rem;
}

h5 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0.7rem;
}

h6 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

}

@media screen  and (min-width: 992px) {
  
}

@media screen and (min-width: 1280px) {

}

@import "../node_modules/tachyons-sass/tachyons.scss";